* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    /* primary color  */
    /* for text  */
    /* Pale violet */
    --pv: hsl(276, 100%, 81%);
    /* Morderate violet */
    --mv: hsl(276, 55%, 52%);
    /* Desaturated Dark Violet */
    --DDV: hsl(271, 15%, 43%);
    /* Grayish blue */
    --gb: hsl(206, 6%, 79%);
    /* very dark desaturated violet */
    --vddv: hsl(271, 36%, 24%);
    /* Dark Grayish violet */
    --dgv: hsl(270, 7%, 64%);
    --dgvl: #c7c4c444;

    /* Gradients  */
    --lightMagenta: hsl(293, 100%, 63%);
    --lightViolet: hsl(264, 100%, 61%);

    /* Secondary  */

    --white: hsl(0, 0%, 100%);
    /* Light Grayish Violet*/
    --LGV: hsl(270, 20%, 96%);
    /* Very Dark Desaturated Violet */
    --VDDV: hsl(271, 36%, 24%);
    /* Very Light Magenta */
    --VLM: hsl(289, 100%, 72%);

    /* animation  */
    --anime: 2s ease-in 0s 1 normal forwards;


}

body {
    height: 100vh;
    width: 100%;
    position: relative;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.bgbox {
    width: 50%;
    height: 50vh;
}

.purple {
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 240px;
    transform: translate(-10px);
    background: linear-gradient(45deg, var(--lightViolet), var(--lightViolet), var(--lightMagenta));

}

.grey {
    display: none;
    align-self: flex-end;
    background-color: var(--LGV);
    border-top-right-radius: 140px;
    border-top-left-radius: 240px;
    transform: translate(10px);

}

.wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    overflow-x: hidden;
    padding: 10px;
}

.mobile {
    position: relative;
    width: 60%;
    background-color: #fff;
    border-radius: 20px;
    z-index: 99;
    box-shadow: 18px 20px 40px 0px #c5c4c4;
    padding: 10px;
}

.mobile_head {
    height: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(to right, var(--lightViolet), var(--lightMagenta));
    position: relative;
    overflow: hidden;
}

.notch {
    position: absolute;
    height: 30px;
    width: 60%;
    top: -12px;
    left: 20%;
    background-color: var(--white);
    border-radius: 20px;

}

.avtar_details {
    margin: 15px 2px;
    height: calc(100% - 10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;
}

.arrow {
    width: 20px;
    aspect-ratio: 1/1;
    position: relative;
    margin-left: 5px;
}

.arrow img {
    filter: brightness(100);
}

.avatar_box {
    width: 30px;
}
.avatar_box .avatar {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
}

.avatar_title {
    flex: 1;

    
}

.avatar_name {
    font-size: 16px;
    color: var(--white);
}

.active_status {
    font-size: 12px;
    color: var(--pv);
}

.dots {
    font-family: 'Times New Roman', Times, serif;
    rotate: 90deg;
    font-size: 30px;
    font-weight: 900;
    color: var(--white);
}

.mobile_screen {
    height: calc(100% - 70px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--LGV);
    padding: 5px;
    overflow: hidden;

}

.mobile_screen p {
    font-size: 11px;
    display: inline-block;
    margin: 5px 0px 4px 0px;
    padding: 5px;
    border-radius: 10px;
    max-width: 70%;

}

.sender_msg1 p,
.sender_msg2 p {
    transform: translate(-110%);
    animation: msgEffect var(--anime);

}

.sender_msg1 p:nth-child(2) {
    animation-delay: 2s;
}

@keyframes msgEffect {
    0% {
        transform: translate(-110%);
    }

    100% {
        transform: translate(0%);
    }
}

.sender_msg1 p {
    background-color: var(--dgvl);
    color: var(--mv);
    border-bottom-left-radius: 0px;

}

.user_side_msg1 {
    overflow: hidden;

}

.user_side_msg1 p {
    float: right;
    background-color: #fff;
    color: var(--DDV);
    border-bottom-right-radius: 0px;
    transform: translate(200px);
    animation: userSideAnime var(--anime);

}

.user_side_msg1 .lorem0 {
    animation-delay: 7s !important;
}

.user_side_msg1 .lorem {
    animation-delay: 8s;
}

@keyframes userSideAnime {
    0% {
        transform: translate(200px);
    }

    100% {
        transform: translate(0px);
    }
}

.user_side_msg1 .msg_image {
    display: flex;
    justify-content: flex-end;
    column-gap: 4px;
    margin-top: 5px;
}

.msg_image img {
    width: 45px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    transform: scale(0);
    animation: imageEffect 1s ease-in 4s 1 normal forwards;
}

.msg_image img:nth-child(2) {
    animation-delay: 5s;
}

.msg_image img:nth-child(3) {
    animation-delay: 6s;
}

@keyframes imageEffect {
    0% {
        transform: scale(0) rotate(0);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}


.sender_msg2 p {
        background-color: var(--dgvl);
        color: var(--mv);
        border-bottom-left-radius: 0px;
        animation-delay: 9s;
    }


.tick_box {
    width: 85%;
    padding: 9px;
    margin: 5px 0px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background: linear-gradient(to left, var(--lightViolet), var(--lightMagenta));
    opacity: 0;
    animation: tickBoxEffect var(--anime);

}

.tick_box .tickMark {
    border: 0.4px solid var(--VLM);
    padding: 8px;
    border-radius: 100%;
}

.tick_box span {
    font-size: 12px;
}

.tick_box span:nth-child(3) {
    font-size: 16px;
    font-weight: 700;
}

.tickbox1 {
    animation-delay: 11s !important;
}

.tickbox2 {
    animation-delay: 12s;
}

@keyframes tickBoxEffect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.typing_box {
    background: var(--white);
    border-radius: 20px;
    padding: 4px;
    margin: 10px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typing_box input{
    border: none;
    outline: none;
    padding: 5px 0px;
    width: 100%;
}
.typing_box input::placeholder{
    font-size: 16px;
    color: var(--gb);
}

.send_key {
    padding: 6px;
    border-radius: 50%;
    background: var(--VDDV);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    cursor: pointer;
}

.send_key img {
    filter: brightness(100);
}

.note {

    width: 100%;
    z-index: 1;
    margin: 5px;
    text-align: center;

    
}

.note h1 {
    color: var(--vddv);
    font-weight: 700;
    font-size: 40px;
    margin: 20px 0px;
    transform: translateY(-150vh);
    animation: NotetitleEffect var(--anime);
    animation-delay: 13s;
}

.note p {
    line-height: 2rem;
    font-weight: 600;
    color: var(--dgv);
    transform: translate(900px);
    animation: paraeffect var(--anime);
    animation-delay: 12s;
}

@keyframes NotetitleEffect {
    0% {
        transform: translateY(-150vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes paraeffect {
    0% {
        transform: translate(900px) rotate(180deg);
    }

    100% {
        transform: translate(0px) rotate(0deg);
    }
}

@media only screen and (min-width: 760px) {
    .bgbox {
        width: 25%;
        height: 90vh;
    }

    .grey {
        display: initial;
    }

    .wrapper{
        padding: 0;
    }

    .mobile {
        width: 250px;
    }

    .note {
        width: 35%;
        margin-left: 100px;
        text-align: left;
    }
}
